/* 公共样式 */
.top-con,.header-con{
    width: 1280px;
    margin: 0 auto;
}
/* top */
#top{
    background-color: #000;
}
.top-con{
    height: 30px;
    line-height: 30px;
}
.top-con>.top-list{
    width: 385px;
    height: 30px;
    float: right;
}
.top-con>.top-list li{
    display: block;
    height: 30px;
    width: 50px;
    float: left;
    padding: 0 20px;
}
.top-con>.top-list a{
    color: #fff;
    font-size: 12px;
}
/* header */
#header{
    background-color: #000;
}
.header-con{
    height: 50px;
}
.header-con>.logo{
    width: 85px;
    height: 50px;
    float: left;
}
.header-con>.logo img{
   width: 64px;
   height: 44px;
    margin-top: -10px;
}
.header-con>.nav{
    width: 500px;
    height: 50px;
    float: left;
}
.header-con>.nav>li{
    float: left;
    height: 40px;
    margin-top: 10px;
    padding: 0 15px;
}
.header-con>.nav>li>a{
    color: #fff;
    font-size: 18px;
}
.header-con>.sous{
    height: 32px;
    float: right;
  margin: 13px 103px 0 0;
  background-color: gray;
}
.header-con>.sous>input{
    height: 32px;
    float: left;
    border-width: 0;
}
.header-con>.sous>.i{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    border-right: 0;
    background-color: #fff;
}
.header-con>.sous>.i-a{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background-color: #fff;
}
.header-con>.sous>.car{
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    background-color: #fff;
}