/* 公共样式 */
.top-con,.header-con,.footer-con,.bottom-con,.conter-con{
    width: 1280px;
    margin: 0 auto;
}
/* top */
#top{
    background-color: #000;
}
.top-con{
    height: 30px;
    line-height: 30px;
}
.top-con>.top-list{
    width: 385px;
    height: 30px;
    float: right;
}
.top-con>.top-list li{
    display: block;
    height: 30px;
    width: 50px;
    float: left;
    padding: 0 20px;
}
.top-con>.top-list a{
    color: #fff;
    font-size: 12px;
}
.top-con>.top-list>.name>span{
    color: #fff;
    font-size: 12px;
}
/* header */
#header{
    background-color: #000;
}
.header-con{
    height: 50px;
}
.header-con>.logo{
    width: 85px;
    height: 50px;
    float: left;
}
.header-con>.logo img{
   width: 64px;
   height: 44px;
    margin-top: -10px;
}
.header-con>.nav{
    width: 500px;
    height: 50px;
    float: left;
}
.header-con>.nav>li{
    float: left;
    height: 40px;
    margin-top: 10px;
    padding: 0 15px;
}
.header-con>.nav>li>a{
    color: #fff;
    font-size: 18px;
}
.header-con>.sous{
    height: 32px;
    float: right;
  margin: 13px 103px 0 0;
  background-color: gray;
}
.header-con>.sous>input{
    height: 32px;
    float: left;
    border-width: 0;
}
.header-con>.sous>.i{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    border-right: 0;
    background-color: #fff;
}
.header-con>.sous>.i-a{
    display: block;
    width: 32px;
    height: 32px;
    float: left;
    background-color: #fff;
}
.header-con>.sous>.car{
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    background-color: #fff;
}

/* footer */
#footer{
    height: 480px;
}
.footer-top{
    background-color: black;
    height: 100px;
}
.footer-top>.footer-list li{
    display: block;
    font-size: 18px;
    float: left;
    color: #fff;
    padding-top: 35px ;
    margin-right: 80px;
}
.footer-con{
    height: 404px;
    padding-top: 20px;
}
.footer-con ul {
    width: 260px;
    height: 216px;
    float: left;
}
.footer-con>.ul-btm{
    padding-top: 20px;
    width: 1200px;
    height: 30px;
    margin-top: 30px;
}
.footer-con>.ul-btm li{
    float: left;
    margin-left: 37px;
}
.footer-con ul li{
    margin-top: 10px;
}
.footer-con ul li a{
    color: #000;
}
#bottom{
    background-color: #000;
}
.bottom-con{
    height: 40px;
}
.bottom-con ul li{
    float: left;
    font-size: 12px;
    line-height: 40px;
    margin: 0 5px;
}
.bottom-con ul li a{
    color: #98989a;
}
