/* 公共样式 */
.banner-con,.cms,.footer-list,.register-con{
    width: 1280px;
    margin: 0 auto;
}
/* banner */
#banner{
    height: 570px;
    position: relative;
}
#banner>a>img{
    width: 100%;
    height: 100%;
}
#banner>h2{
    position: absolute;
    left: 42%;
    top: 42%;
    font-size: 37px;
    font-weight: 800;
}
#banner>.b-R{
    position: absolute;
    left: 43%;
    top: 55%;
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
}
#banner>.b-R>em{
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 48px;
    margin-left: 10px;
}
#banner>.b-E{
    position: absolute;
    left: 43%;
    top: 66%;
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
}
#banner>.b-E>em{
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 48px;
    margin-left: 10px;
}
#banner>.b-R:hover{
    opacity: 0.9;
    color: gainsboro;
}
#banner>.b-E:hover{
    opacity: 0.9;
    color: gainsboro;
}
#banner>.bg{
    position: absolute;
    top: 55%;
    left: 43%;
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
}
#banner>.bk{
    position: absolute;
    top: 66%;
    left: 43%;
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
}
#main{
    background-color: gray;
}
.show{
    height: 460px;
    padding-top: 20px;
}
.show>.row{
    width: 724px;
    height: 460px;
    margin: 10px 17px;
    float: left;
    position: relative;
}
.show>.row-a{
    width: 724px;
    height: 460px;
    float: left;
    position: relative;
}
.show>.row img{
    width: 100%;
    height: 100%;
}
.show>.row-a img{
    width: 100%;
    height: 100%;
}
.show>.row>.aiu{
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 82%;
    left: 39%;
}
.show>.row>.show-an{
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
    position: absolute;
    top: 82%;
    left: 39%;
    color: black;
    line-height: 48px;
}
.show>.row>.show-an>em{
    margin-left: 10px;
    font-size: 14px;
}
.show>.row:hover{
    transform: scaleY(3px);
    box-shadow: 1px 1px 1px #ccc;
}
.yunyu{
    height: 570px;
    margin-top: 30px;
    position: relative;
}
.yunyu>.ybg{
    width: 175px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 65%;
    left: 13%;
}
.yunyu>.ybg-a{
    width: 175px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 53%;
    left: 13%;
}
.yunyu>.y-y{
    display: block;
    width: 175px;
    height: 48px;
    color: black;
    background-color: #fff;
    line-height: 48px;
    position: absolute;
    top: 53%;
    left: 13%;
}
.yunyu>.y-y>em{
    margin-left: 10px;
    font-weight: 200;
}
.yunyu>.y-ya{
    display: block;
    width: 175px;
    height: 48px;
    color: black;
    background-color: #fff;
    line-height: 48px;
    position: absolute;
    top: 65%;
    left: 13%;
}
.yunyu>.y-ya>em{
    margin-left: 10px;
    font-weight: 200;
}
.yunyu img{
    width: 100%;
    height: 100%;
}
.cms{
    height: 500px;
}
.slider{
    height: 480px;
    border: 1px solid #ccc;
}
/* login */
#conter{
    background-color: #fff;
}
.conter-con{
    height: 628px;
}
.conter-con>.left{
    height: 604px;
    width: 600px;
    float: left;
    padding: 20px;
}
.conter-con>.left>.login{
    width: 384px;
    height: 488px;
    margin-left: 30px;
    margin-top: 50px;
    
}
.conter-con>.left>.login>.top{
    width: 384px;
    height: 50px;
    text-align: center;
}
.conter-con>.left>.login>.bottom{
    width: 384px;
    height: 434px;
}
.conter-con>.left>.login>.bottom>.userClass{
    width: 300px;
    height: 40px;
    margin-left: 55px;
}
.conter-con>.left>.login>.bottom>.passClass{
    width: 300px;
    height: 40px;
    margin-left: 55px;
    margin-top: 30px;
}
.conter-con>.left>.login>.bottom>.yanze{
    width: 384px;
    height: 40px;
    margin-left: 55px;
    margin-top: 30px;
}
.conter-con>.left>.login>.bottom>.zc{
    display: block;
    width: 300px;
    height: 40px;
    margin-top: 20px;
    text-align: center;
    line-height: 40px;
    margin: 30px 0 0 55px;
}
.conter-con>.left>.login>.bottom>.zc:hover{
    background-color: #ccc;
}
.conter-con>.left>.login>.bottom>.yanze>.y-left{
    width: 200px;
    height: 40px;
    float: left;
}
.conter-con>.left>.login>.bottom>.yanze>.y-left>.yanzema{
    height: 40px;
}
.conter-con>.left>.login>.bottom>.yanze>.y-right{
    width: 100px;
    height: 40px;
    float: left;
}
.conter-con>.left>.login>.bottom>.dl{
    width: 300px;
    height: 40px;
    text-align: center;
    margin: 30px 0 0 55px;
}
.conter-con>.right{
    height: 604px;
    width: 600px;
    float: left;
}
.conter-con>.right>.right-p{
    margin-top: 100px;
}
.conter-con>.right>.right-p>ul li{
    margin-top: 20px;
}
/* 注册 */
.register-con{
    height: 600px;
}
.box{
    width: 430px;
    height: 400px;
    position: relative;
    left: 26%;
    top: 20%;
}
.box>p{
    font-size: 20px;
    text-align: center;
    margin-left: -153px;
    margin-bottom: 20px;
}
.box>.box-a{
    width: 300px;
    height: 40px; 
}
.box>.box-b{
    width: 300px;
    height: 40px; 
    margin-top: 30px;
}
.box>.zhuc{
    width: 300px;
    height: 40px;
    margin-top: 30px;
}
.box>a{
    color: #000;
}
