/* 公共样式 */
.banner-con{
    width: 1280px;
    margin: 0 auto;
}
/* banner */
#banner{
    height: 570px;
    position: relative;
}
#banner>a>img{
    width: 100%;
    height: 100%;
}
#banner>h2{
    position: absolute;
    left: 42%;
    top: 42%;
    font-size: 37px;
    font-weight: 800;
}
#banner>.b-R{
    position: absolute;
    left: 43%;
    top: 55%;
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
}
#banner>.b-R>em{
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 48px;
    margin-left: 10px;
}
#banner>.b-E{
    position: absolute;
    left: 43%;
    top: 66%;
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
}
#banner>.b-E>em{
    color: black;
    font-size: 15px;
    font-weight: 200;
    line-height: 48px;
    margin-left: 10px;
}
#banner>.b-R:hover{
    opacity: 0.9;
    color: gainsboro;
}
#banner>.b-E:hover{
    opacity: 0.9;
    color: gainsboro;
}
#banner>.bg{
    position: absolute;
    top: 55%;
    left: 43%;
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
}
#banner>.bk{
    position: absolute;
    top: 66%;
    left: 43%;
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
}
#main{
    background-color: gray;
}
.show{
    height: 480px;
}
.show>.row{
    width: 724px;
    height: 480px;
    margin: 20px 0 0 20px;
    float: left;
    position: relative;
}
.show>.row-a{
    width: 724px;
    height: 480px;
    margin: 20px 0 0 20px;
    float: left;
    position: relative;
}
.show>.row img{
    width: 100%;
    height: 100%;
}
.show>.row-a img{
    width: 100%;
    height: 100%;
}
.show>.row>.aiu{
    width: 160px;
    height: 50px;
    border: 1px solid #fff;
    position: absolute;
    top: 82%;
    left: 39%;
}
.show>.row>.show-an{
    display: block;
    width: 157px;
    height: 48px;
    background-color: #fff;
    position: absolute;
    top: 82%;
    left: 39%;
    color: black;
    line-height: 48px;
}
.show>.row>.show-an>em{
    margin-left: 10px;
    font-size: 14px;
}